.Login {
	width: 512px;
	height: 300px;

	position: relative; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
	border-radius: 16px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.02);

	margin: auto; /* 페이지 중앙에 나타나도록 설정 */

	margin-top: 96px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	background: whitesmoke;

	.login-header {
		padding: 20px 0px;
		margin: 0px 32px;
		border-bottom: 2px solid #dadde0;
	}
	.login-form {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 400px;
		height: auto;
		padding: 50px 20px;
		margin: 0 auto;
	}
	.login-input {
		display: flex;
		flex-direction: column;
		padding: 5px 20px 5px 10px;
		width: 100%;
		font-size: 18px;
	}
	#email-input {
		margin-bottom: 10px;
		line-height: 20px;
	}
	#pw-input {
		line-height: 20px;
	}
	button {
		display: block;
		box-sizing: border-box;
		height: 100%;
		margin: 0 auto;
		margin-left: 5px;
		margin-right: 10px;
		font-size: 18px;
		padding: 12px;
		border: none;
		border-radius: 4px;
		outline: none;
		color: white;
		background-color: rgb(113 113 109);

		&:hover {
			background-color: rgb(61 58 55);
			cursor: pointer;
		}
	}
}
