.ListContainer {
	padding-top: 10px;
	padding-bottom: 50px;
	margin: 0 50px;
	display: flex;
	flex-direction: column;
	font-family: 'Pretendard-Regular';
}

.PostList {
	position: relative;

	margin: 0 auto;

	margin-top: 10px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px 32px;
	padding-bottom: 48px;
	overflow-y: auto;

	.search-bar #search-input:focus::placeholder {
		color: transparent;
	}

	.posts {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		padding: 20px 32px 10px 32px;
	}

	.create-post {
		text-align: right;
		#create-post-button {
			all: unset;
			transition: 0.25s;
			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
			&:active {
				transform: scale(1.2);
			}
		}
	}

	.search-bar {
		margin: auto;

		margin-bottom: 20px;
		width: 80%;
		#search-input {
			line-height: 1;
			text-align: center;
		}
		#search-button {
			color: #c19565;
			border-color: #c19565;
			&:hover {
				background-color: #c19565;
				color: white;
			}
		}
	}

	#list-filter-button {
		all: unset;
		transition: 0.25s;
		width: fit-content;
		border: none;
		padding: 10px 10px;
		margin-left: auto;
		margin-right: 120px;
		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}
	}
}
