.ListContainer {
	padding-top: 10px;
	padding-bottom: 50px;
	margin: 0 50px;
	display: flex;
	flex-direction: column;
	font-family: 'Pretendard-Regular';
}

.PostList {
	position: relative;

	margin: 0 auto;

	margin-top: 10px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px 32px;
	padding-bottom: 48px;
	overflow-y: auto;
    z-index: -1;

	.search-bar #search-input:focus::placeholder {
		color: grey;
	}

	.posts {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		padding: 20px 32px 10px 32px;
	}

	.create-post {
		text-align: right;

		#create-post-button {
			all: unset;
			transition: 0.25s;

			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}

			&:active {
				transform: scale(1.2);
			}
		}
	}

	.search-bar {
		margin: auto;

		z-index: 1;

		margin-bottom: 20px;
		width: 80%;

		#search-input {
			line-height: 1;
			text-align: center;
		}

		#search-button {
			color: #c19565;
			border-color: #c19565;

			&:hover {
				background-color: #c19565;
				color: white;
			}
		}
	}

	#list-filter-button {
		all: unset;
		transition: 0.25s;
		width: fit-content;
		border: none;
		padding: 10px 10px;
		margin-left: auto;
		margin-right: 120px;

		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}
	}
}

.user-input-container {


	padding: 0 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 32px;
	//border-color: blue;
	border: solid #c19565;
	border-width: 1px;
	//background: red;
	height: 60px;

	margin: auto;

	z-index: 1;

	margin-bottom: 20px;
	width: 80%;
	box-shadow: 5px 5px 5px rgb(173, 169, 169);
}

.user-input-container input {
	border: none;
}

.user-input-container .title {
	display: flex;
	flex-direction: row;
	color: black;
	padding: 0 0;
}

.user-input-container .category {
	padding: 0 20px;
	border-left: 1px solid black;
	width: 25%;
}

.type-space {
	justify-content: flex-start;
	//width: 95%;
}

.user-input-container .category:first-child {
	border: none;
}

.user-input-container .sex-container {
	width: 18%;
}

.user-input-container #search-button {
	z-index: 1;

	color: #c19565;
	border-color: #c19565;

	&:hover {
		background-color: #c19565;
		color: white;
	}

}

/*.user-input-container .search-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #FF385C;
	margin: 0 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}*/

@keyframes slideUp {
	from {
		transform: scale(1, 1) translateY(0px);
		opacity: 0.5;
	}

	to {
		transform: scale(0.3, 0.75) translateY(-80px);
		opacity: 0;
		visibility: hidden;
	}
}