/* modal창 */
.review {
	position: absolute;
	width: 500px;
	height: 600px;
	.modal-header {
		color: black;
		padding: 10px;
		height: 30px;
		border: none;
	}
	.modal-body {
		padding: 30px 30px 30px 30px;
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
		overflow-y: auto;
		&::-webkit-scrollbar {
    		width: 4px;
  		}
  		&::-webkit-scrollbar-thumb {
    		border-radius: 2px;
    		background: #ccc;
  		}
	}
	.modal-footer {
		padding: 3px;
		#review-delete-button{
			width: fit-content;
			padding: 5px 10px;
			margin: 3px;
			background-color: #d4b886;
			border: none;
			border-radius: 15px;
			box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
			transition: 0.25s;

			&:hover {
				letter-spacing: 1px;
				transform: scale(1.1);
				cursor: pointer;
			}

			&:active {
				transform: scale(1.1);
			}
		}
	}
	#modalCloseBtn:hover {
		cursor: pointer;
	}
	.modalContent {
		position: relative;
	}
}
