.Message{
    height: 65px;
    display: flex;
	border-top: 2.5px solid;
	border-color: #d4b886;

    .send-message-container{
        display: flex;
		margin: 0px;

        .message-input{
            width: 680px;
            height: 65px;
			border-right: 2.5px solid;
			border-top: none;
			border-left: none;
			border-color: #d4b886;
			&:focus{
				outline: none;
			}
        }

        #send-button{
            width: 65px;
		    background-color: #211f1e;
		    color: whitesmoke;
		    border: none;
		    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
		    transition: 0.25s;
		    font-size: 20px;
		    &:disabled {
			    background-color: gray;
		    }
		    &:hover {
			    letter-spacing: 1px;
			    cursor: pointer;
		    }
        }
    }
}