.Dropdown {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;

	.dropdown-content {
		display: none;
		position: absolute;
		font-weight: 400;
		background-color: #f9f9f9;
		min-width: 150px;
		border-radius: 5px;
		box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
	}

	.dropdown-content button {
		all: unset;
		cursor: pointer;
		display: block;
		text-decoration: none;
		color: rgb(37, 37, 37);
		font-size: 17px;
		padding: 12px 20px;

		&:hover {
			background-color: #ececec;
		}
	}

	.dropdown-non-user, .dropdown-user {
		display: flex;
		flex-direction: column;
	}
	
}
