.DetailContainer {
	padding-top: 10px;
	padding-bottom: 50px;
	margin: 0 50px;
	display: flex;
	flex-direction: column;
	font-family: "Pretendard-Regular";
}

.PostDetail {
	padding: 10px 20px 20px 20px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;

	button {
		width: fit-content;
		padding: 10px 15px;
		margin: 3px;
		background-color: #211f1e;
		color: whitesmoke;
		border: none;
		border-radius: 15px;
		box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
		transition: 0.25s;

		&:hover {
			letter-spacing: 1px;
			transform: scale(1.1);
			cursor: pointer;
		}

		&:active {
			transform: scale(1.2);
		}
	}

	#back-detail-post-button {
		align-self: flex-start;
	}

	.post-content-container {
		padding: 50px;
	}
	.post-content {
		flex: 25%;
		text-align: left;
		font-size: 20px;
		padding: 0 20px;
		line-height: 45px;
	}
	.post-buttons {
		display: flex;
		flex-direction: row;
		justify-content: right;
	}
}
