.pagination {
	justify-content: center;
	list-style: none;
	text-align: center;
	border-radius: 3px;
	color: white;
	padding: 1px;
}

.page-item {
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	padding: 5px !important;
	border-radius: 5px;
	width: 30px;
	&:hover {
		cursor: pointer;
	}
	&:focus::after {
		color: white;
		background-color: #263a6c;
	}
}

.page-link {
	padding: 9px !important;
	display: inline !important;
	color: black !important;
	border: none !important;
	&:hover::after,
	&:focus::after {
		border-radius: 100%;
		color: white;
		background-color: #263a6c;
	}
}

.clicked {
	text-decoration: underline !important;
	color: #454649 !important;
}
