.chatting{
    display: inline-flex;
    justify-content: center;
    margin: 30px;
    height: 100%;

    .chatting-list{
        width: 350px;
        height: 700px;
        border: 2.5px solid;
        border-color: #d4b886;
        margin-right: 10px;
        overflow-y: auto;

        .chat-list{
            height: 60px;
            padding: 15px;
            text-align: left;
            border-bottom: 2.5px solid;
            border-bottom-color: #d4b886;
            &:hover {
		      font-weight: bold;
		      cursor: pointer;
	        }
        }
    }
    .chatting-screen{
        width: 750px;
        height: 700px;
        border: 2.5px solid;
        border-color: #d4b886;
    }
}