.ReviewListContainer {
	padding-top: 10px;
	padding-bottom: 50px;
	margin: 0 50px;
	display: flex;
	flex-direction: column;
	font-family: 'Pretendard-Regular';
}

.ReviewList {
	position: relative;

	margin: 0 auto;

	margin-top: 10px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px 32px;
	padding-bottom: 48px;
	overflow-y: auto;

	.reviews {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		padding: 20px 32px 10px 32px;
	}

	.create-review {
		text-align: right;
	}

	#create-review-button {
		all: unset;
		transition: 0.25s;
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
		&:active {
			transform: scale(1.2);
		}
	}
	.review-container {
		border-radius: 5px;
		border-width: 2px;
		border-color: black;
		all: unset;
		flex: 1;
		cursor: pointer;
	}
}
